@charset "UTF-8";
@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Alegreya|Cinzel:700|Courgette|Lemonada:300,400,600,700|Sansita&subset=arabic,latin-ext,vietnamese');

.ff-alegreya{ font-family: 'Alegreya';}
.ff-cinzel{ font-family: 'Cinzel'; }
.ff-courgette{ font-family: 'Courgette'; }
.ff-lemonada{ font-family: 'Lemonada'; }
.ff-sansita{ font-family: 'Sansita'; letter-spacing: 0.08em}

.ls-02{ letter-spacing: 0.02em}
.ls-03{ letter-spacing: 0.03em}
.ls-04{ letter-spacing: 0.04em}
.ls-05{ letter-spacing: 0.05em}
.ls-06{ letter-spacing: 0.06em}
.ls-07{ letter-spacing: 0.07em}
.ls-08{ letter-spacing: 0.08em}
.ls-09{ letter-spacing: 0.09em}
.ls-10{ letter-spacing: 0.10em}
.ls-11{ letter-spacing: 0.11em}
.ls-normal{ letter-spacing: normal}
/*-----------------------------------------------*/
/*--- блоки позитивої та негативної відповіді ---*/
/*-----------------------------------------------*/
.ok-pink{ background-color: rgba(248,187,208 ,1); border:2px solid #f4838e; color: rgba(96,125,139,1);}
.ok{ background-color: rgba(197,225,165 ,1); color: rgba(96,125,139,1);}
.error{ background-color: rgba(239,154,154 ,.5); border:1px solid rgba(244,67,54 ,.5); color: rgba(109,76,65 ,1);}

/*-----------------------------------------*/
/*--- кнопка ---*/
/*-----------------------------------------*/
.link-white{ text-decoration: none; color: white;  -webkit-transition: color .5s; transition: color .5s;}
.link-white:hover{ text-decoration: none; color: rgba(173,20,87 ,1);}

.link-black{ text-decoration: none; color: black;  -webkit-transition: color .5s; transition: color .5s, border .5s;}
.link-black:hover{ text-decoration: none; border: 1px solid rgba(233,30,99,1); color: rgba(233,30,99 ,1); cursor: pointer}

.link-black-ok{ text-decoration: none; color: black; border: 1px solid rgba(158,158,158 ,1); -webkit-transition: color .2s; transition: color .2s, border .2s;}
.link-black-ok:hover{ text-decoration: none; border: 1px solid rgba(233,30,99,1); color: rgba(233,30,99 ,1); cursor: pointer}

.link-black-no{ text-decoration: none; color: rgba(97,97,97 ,1);  border: 1px solid rgba(158,158,158 ,1); -webkit-transition: color .5s; transition: color .5s, border .5s;}
.link-black-no:hover{ text-decoration: none; border: 1px solid black!important; color: black; cursor: pointer}

.cursor-default{ cursor: default}
.cursor-help{ cursor: help}
.cursor-pointer{ cursor: pointer}

/*tr, td { border: 1px solid rgba(176,190,197 ,.2); padding: 4px}*/
thead {}
b{font-size: 1.1em;
    color: #000; }
/****************************/
/********** OPACITY **********/
/****************************/
.opacity-10{ opacity: 0.1!important; filter:alpha(opacity=10); }
.opacity-15{ opacity: 0.15!important; filter:alpha(opacity=15); }
.opacity-20{ opacity: 0.2!important; filter:alpha(opacity=20); }
.opacity-25{ opacity: 0.25!important; filter:alpha(opacity=25); }
.opacity-30{ opacity: 0.3!important; filter:alpha(opacity=30); }
.opacity-35{ opacity: 0.35!important; filter:alpha(opacity=35); }
.opacity-40{ opacity: 0.4!important; filter:alpha(opacity=40); }
.opacity-45{ opacity: 0.45!important; filter:alpha(opacity=45); }
.opacity-50{ opacity: 0.5!important; filter:alpha(opacity=50); }
.opacity-55{ opacity: 0.55!important; filter:alpha(opacity=55); }
.opacity-60{ opacity: 0.6!important; filter:alpha(opacity=60); }
.opacity-65{ opacity: 0.65!important; filter:alpha(opacity=65); }
.opacity-70{ opacity: 0.7!important; filter:alpha(opacity=70); }
.opacity-75{ opacity: 0.75!important; filter:alpha(opacity=75); }
.opacity-80{ opacity: 0.8!important; filter:alpha(opacity=80); }
.opacity-85{ opacity: 0.85!important; filter:alpha(opacity=85); }
.opacity-90{ opacity: 0.9!important; filter:alpha(opacity=90); }
.opacity-95{ opacity: 0.95!important; filter:alpha(opacity=95); }
.opacity-100{ opacity: 1!important; filter:alpha(opacity=100); }
/****************************/

/*****************************************************/
/*------------------ color text ---------------------*/
/*****************************************************/
.color-red {	color: rgba(244,67,54,1)!important;}
.color-red-0 {	color: rgba(244,67,54,1)!important;}
.color-red-10{	color: rgba(244,67,54,.1)!important;}
.color-red-20{	color: rgba(244,67,54,.2)!important;}
.color-red-30{	color: rgba(244,67,54,.3)!important;}
.color-red-40{	color: rgba(244,67,54,.4)!important;}
.color-red-50{	color: rgba(244,67,54,.5)!important;}
.color-red-60{	color: rgba(244,67,54,.6)!important;}
.color-red-70{	color: rgba(244,67,54,.7)!important;}
.color-red-80{	color: rgba(244,67,54,.8)!important;}
.color-red-90{	color: rgba(244,67,54,.9)!important;}

.color-pink {	color: rgba(233,30,99,1)!important;}
.color-pink-0 {	color: rgba(233,30,99,1)!important;}
.color-pink-10{	color: rgba(233,30,99,.1)!important;}
.color-pink-20{	color: rgba(233,30,99,.2)!important;}
.color-pink-30{	color: rgba(233,30,99,.3)!important;}
.color-pink-40{	color: rgba(233,30,99,.4)!important;}
.color-pink-50{	color: rgba(233,30,99,.5)!important;}
.color-pink-60{	color: rgba(233,30,99,.6)!important;}
.color-pink-70{	color: rgba(233,30,99,.7)!important;}
.color-pink-80{	color: rgba(233,30,99,.8)!important;}
.color-pink-90{	color: rgba(233,30,99,.9)!important;}

.color-purple {	    color: rgba(156,39,176,1)!important;}
.color-purple-0 {	    color: rgba(156,39,176,1)!important;}
.color-purple-10{	color: rgba(156,39,176,.1)!important;}
.color-purple-20{	color: rgba(156,39,176,.2)!important;}
.color-purple-30{	color: rgba(156,39,176,.3)!important;}
.color-purple-40{	color: rgba(156,39,176,.4)!important;}
.color-purple-50{	color: rgba(156,39,176,.5)!important;}
.color-purple-60{	color: rgba(156,39,176,.6)!important;}
.color-purple-70{	color: rgba(156,39,176,.7)!important;}
.color-purple-80{	color: rgba(156,39,176,.8)!important;}
.color-purple-90{	color: rgba(156,39,176,.9)!important;}

.color-deep-purple {	color: rgba(103,58,183,1)!important;}
.color-deep-purple-0 {	color: rgba(103,58,183,1)!important;}
.color-deep-purple-10{	color: rgba(103,58,183,.1)!important;}
.color-deep-purple-20{	color: rgba(103,58,183,.2)!important;}
.color-deep-purple-30{	color: rgba(103,58,183,.3)!important;}
.color-deep-purple-40{	color: rgba(103,58,183,.4)!important;}
.color-deep-purple-50{	color: rgba(103,58,183,.5)!important;}
.color-deep-purple-60{	color: rgba(103,58,183,.6)!important;}
.color-deep-purple-70{	color: rgba(103,58,183,.7)!important;}
.color-deep-purple-80{	color: rgba(103,58,183,.8)!important;}
.color-deep-purple-90{	color: rgba(103,58,183,.9)!important;}

.color-indigo { 	color: rgba(63,81,181,1)!important;}
.color-indigo-0 { 	color: rgba(63,81,181,1)!important;}
.color-indigo-10{	color: rgba(63,81,181,.1)!important;}
.color-indigo-20{	color: rgba(63,81,181,.2)!important;}
.color-indigo-30{	color: rgba(63,81,181,.3)!important;}
.color-indigo-40{	color: rgba(63,81,181,.4)!important;}
.color-indigo-50{	color: rgba(63,81,181,.5)!important;}
.color-indigo-60{	color: rgba(63,81,181,.6)!important;}
.color-indigo-70{	color: rgba(63,81,181,.7)!important;}
.color-indigo-80{	color: rgba(63,81,181,.8)!important;}
.color-indigo-90{	color: rgba(63,81,181,.9)!important;}

.color-blue { 	color: rgba(33,150,243,1)!important;}
.color-blue-0 { 	color: rgba(33,150,243,1)!important;}
.color-blue-10{	color: rgba(33,150,243,.1)!important;}
.color-blue-20{	color: rgba(33,150,243,.2)!important;}
.color-blue-30{	color: rgba(33,150,243,.3)!important;}
.color-blue-40{	color: rgba(33,150,243,.4)!important;}
.color-blue-50{	color: rgba(33,150,243,.5)!important;}
.color-blue-60{	color: rgba(33,150,243,.6)!important;}
.color-blue-70{	color: rgba(33,150,243,.7)!important;}
.color-blue-80{	color: rgba(33,150,243,.8)!important;}
.color-blue-90{	color: rgba(33,150,243,.9)!important;}

.color-light-blue { 	color: rgba(3,169,244,1)!important;}
.color-light-blue-0 { 	color: rgba(3,169,244,1)!important;}
.color-light-blue-10{	color: rgba(3,169,244,.1)!important;}
.color-light-blue-20{	color: rgba(3,169,244,.2)!important;}
.color-light-blue-30{	color: rgba(3,169,244,.3)!important;}
.color-light-blue-40{	color: rgba(3,169,244,.4)!important;}
.color-light-blue-50{	color: rgba(3,169,244,.5)!important;}
.color-light-blue-60{	color: rgba(3,169,244,.6)!important;}
.color-light-blue-70{	color: rgba(3,169,244,.7)!important;}
.color-light-blue-80{	color: rgba(3,169,244,.8)!important;}
.color-light-blue-90{	color: rgba(3,169,244,.9)!important;}

.color-cyan { 	color: rgba(0,188,212,1)!important;}
.color-cyan-0 { 	color: rgba(0,188,212,1)!important;}
.color-cyan-10{	color: rgba(0,188,212,.1)!important;}
.color-cyan-20{	color: rgba(0,188,212,.2)!important;}
.color-cyan-30{	color: rgba(0,188,212,.3)!important;}
.color-cyan-40{	color: rgba(0,188,212,.4)!important;}
.color-cyan-50{	color: rgba(0,188,212,.5)!important;}
.color-cyan-60{	color: rgba(0,188,212,.6)!important;}
.color-cyan-70{	color: rgba(0,188,212,.7)!important;}
.color-cyan-80{	color: rgba(0,188,212,.8)!important;}
.color-cyan-90{	color: rgba(0,188,212,.9)!important;}

.color-teal { 	color: rgba(0,150,136,1)!important;}
.color-teal-0 { 	color: rgba(0,150,136,1)!important;}
.color-teal-10{	color: rgba(0,150,136,.1)!important;}
.color-teal-20{	color: rgba(0,150,136,.2)!important;}
.color-teal-30{	color: rgba(0,150,136,.3)!important;}
.color-teal-40{	color: rgba(0,150,136,.4)!important;}
.color-teal-50{	color: rgba(0,150,136,.5)!important;}
.color-teal-60{	color: rgba(0,150,136,.6)!important;}
.color-teal-70{	color: rgba(0,150,136,.7)!important;}
.color-teal-80{	color: rgba(0,150,136,.8)!important;}
.color-teal-90{	color: rgba(0,150,136,.9)!important;}

.color-green { 	    color: rgba(76,175,80,1)!important;}
.color-green-0 { 	    color: rgba(76,175,80,1)!important;}
.color-green-10{	color: rgba(76,175,80,.1)!important;}
.color-green-20{	color: rgba(76,175,80,.2)!important;}
.color-green-30{	color: rgba(76,175,80,.3)!important;}
.color-green-40{	color: rgba(76,175,80,.4)!important;}
.color-green-50{	color: rgba(76,175,80,.5)!important;}
.color-green-60{	color: rgba(76,175,80,.6)!important;}
.color-green-70{	color: rgba(76,175,80,.7)!important;}
.color-green-80{	color: rgba(76,175,80,.8)!important;}
.color-green-90{	color: rgba(76,175,80,.9)!important;}

.color-light-green { 	color: rgba(139,195,74,1)!important;}
.color-light-green-0 { 	color: rgba(139,195,74,1)!important;}
.color-light-green-10{	color: rgba(139,195,74,.1)!important;}
.color-light-green-20{	color: rgba(139,195,74,.2)!important;}
.color-light-green-30{	color: rgba(139,195,74,.3)!important;}
.color-light-green-40{	color: rgba(139,195,74,.4)!important;}
.color-light-green-50{	color: rgba(139,195,74,.5)!important;}
.color-light-green-60{	color: rgba(139,195,74,.6)!important;}
.color-light-green-70{	color: rgba(139,195,74,.7)!important;}
.color-light-green-80{	color: rgba(139,195,74,.8)!important;}
.color-light-green-90{	color: rgba(139,195,74,.9)!important;}

.color-lime { 	color: rgba(205,220,57,1)!important;}
.color-lime-0 { 	color: rgba(205,220,57,1)!important;}
.color-lime-10{	color: rgba(205,220,57,.1)!important;}
.color-lime-20{	color: rgba(205,220,57,.2)!important;}
.color-lime-30{	color: rgba(205,220,57,.3)!important;}
.color-lime-40{	color: rgba(205,220,57,.4)!important;}
.color-lime-50{	color: rgba(205,220,57,.5)!important;}
.color-lime-60{	color: rgba(205,220,57,.6)!important;}
.color-lime-70{	color: rgba(205,220,57,.7)!important;}
.color-lime-80{	color: rgba(205,220,57,.8)!important;}
.color-lime-90{	color: rgba(205,220,57,.9)!important;}

.color-yellow { 	color: rgba(255,235,59,1)!important;}
.color-yellow-0 { 	color: rgba(255,235,59,1)!important;}
.color-yellow-10{	color: rgba(255,235,59,.1)!important;}
.color-yellow-20{	color: rgba(255,235,59,.2)!important;}
.color-yellow-30{	color: rgba(255,235,59,.3)!important;}
.color-yellow-40{	color: rgba(255,235,59,.4)!important;}
.color-yellow-50{	color: rgba(255,235,59,.5)!important;}
.color-yellow-60{	color: rgba(255,235,59,.6)!important;}
.color-yellow-70{	color: rgba(255,235,59,.7)!important;}
.color-yellow-80{	color: rgba(255,235,59,.8)!important;}
.color-yellow-90{	color: rgba(255,235,59,.9)!important;}

.color-amber { 	    color: rgba(255,193,7,1)!important;}
.color-amber-0 { 	    color: rgba(255,193,7,1)!important;}
.color-amber-10{	color: rgba(255,193,7,.1)!important;}
.color-amber-20{	color: rgba(255,193,7,.2)!important;}
.color-amber-30{	color: rgba(255,193,7,.3)!important;}
.color-amber-40{	color: rgba(255,193,7,.4)!important;}
.color-amber-50{	color: rgba(255,193,7,.5)!important;}
.color-amber-60{	color: rgba(255,193,7,.6)!important;}
.color-amber-70{	color: rgba(255,193,7,.7)!important;}
.color-amber-80{	color: rgba(255,193,7,.8)!important;}
.color-amber-90{	color: rgba(255,193,7,.9)!important;}

.color-orange { 	color: rgba(255,152,0,1)!important;}
.color-orange-0 { 	color: rgba(255,152,0,1)!important;}
.color-orange-10{	color: rgba(255,152,0,.1)!important;}
.color-orange-20{	color: rgba(255,152,0,.2)!important;}
.color-orange-30{	color: rgba(255,152,0,.3)!important;}
.color-orange-40{	color: rgba(255,152,0,.4)!important;}
.color-orange-50{	color: rgba(255,152,0,.5)!important;}
.color-orange-60{	color: rgba(255,152,0,.6)!important;}
.color-orange-70{	color: rgba(255,152,0,.7)!important;}
.color-orange-80{	color: rgba(255,152,0,.8)!important;}
.color-orange-90{	color: rgba(255,152,0,.9)!important;}

.color-deep-orange { 	color: rgba(255,87,34,1)!important;}
.color-deep-orange-0 { 	color: rgba(255,87,34,1)!important;}
.color-deep-orange-10{	color: rgba(255,87,34,.1)!important;}
.color-deep-orange-20{	color: rgba(255,87,34,.2)!important;}
.color-deep-orange-30{	color: rgba(255,87,34,.3)!important;}
.color-deep-orange-40{	color: rgba(255,87,34,.4)!important;}
.color-deep-orange-50{	color: rgba(255,87,34,.5)!important;}
.color-deep-orange-60{	color: rgba(255,87,34,.6)!important;}
.color-deep-orange-70{	color: rgba(255,87,34,.7)!important;}
.color-deep-orange-80{	color: rgba(255,87,34,.8)!important;}
.color-deep-orange-90{	color: rgba(255,87,34,.9)!important;}

.color-brown { 	    color: rgba(121,85,72,1)!important;}
.color-brown-0 { 	    color: rgba(121,85,72,1)!important;}
.color-brown-10{	color: rgba(121,85,72,.1)!important;}
.color-brown-20{	color: rgba(121,85,72,.2)!important;}
.color-brown-30{	color: rgba(121,85,72,.3)!important;}
.color-brown-40{	color: rgba(121,85,72,.4)!important;}
.color-brown-50{	color: rgba(121,85,72,.5)!important;}
.color-brown-60{	color: rgba(121,85,72,.6)!important;}
.color-brown-70{	color: rgba(121,85,72,.7)!important;}
.color-brown-80{	color: rgba(121,85,72,.8)!important;}
.color-brown-90{	color: rgba(121,85,72,.9)!important;}

.color-brown { 	    color: rgba(121,85,72,1)!important;}
.color-brown-0 { 	    color: rgba(121,85,72,1)!important;}
.color-brown-10{	color: rgba(121,85,72,.1)!important;}
.color-brown-20{	color: rgba(121,85,72,.2)!important;}
.color-brown-30{	color: rgba(121,85,72,.3)!important;}
.color-brown-40{	color: rgba(121,85,72,.4)!important;}
.color-brown-50{	color: rgba(121,85,72,.5)!important;}
.color-brown-60{	color: rgba(121,85,72,.6)!important;}
.color-brown-70{	color: rgba(121,85,72,.7)!important;}
.color-brown-80{	color: rgba(121,85,72,.8)!important;}
.color-brown-90{	color: rgba(121,85,72,.9)!important;}

.color-grey{	color: rgba(158,158,158,1)!important;}
.color-grey-0{	color: rgba(158,158,158,1)!important;}
.color-grey-10{	color: rgba(158,158,158,.1)!important;}
.color-grey-20{	color: rgba(158,158,158,.2)!important;}
.color-grey-30{	color: rgba(158,158,158,.3)!important;}
.color-grey-40{	color: rgba(158,158,158,.4)!important;}
.color-grey-50{	color: rgba(158,158,158,.5)!important;}
.color-grey-60{	color: rgba(158,158,158,.6)!important;}
.color-grey-70{	color: rgba(158,158,158,.7)!important;}
.color-grey-80{	color: rgba(158,158,158,.8)!important;}
.color-grey-90{	color: rgba(158,158,158,.9)!important;}

.color-blue-grey{	color: rgba(96,125,139,1)!important;}
.color-blue-grey-0{	color: rgba(96,125,139,1)!important;}
.color-blue-grey-10{	color: rgba(96,125,139,.1)!important;}
.color-blue-grey-20{	color: rgba(96,125,139,.2)!important;}
.color-blue-grey-30{	color: rgba(96,125,139,.3)!important;}
.color-blue-grey-40{	color: rgba(96,125,139,.4)!important;}
.color-blue-grey-50{	color: rgba(96,125,139,.5)!important;}
.color-blue-grey-60{	color: rgba(96,125,139,.6)!important;}
.color-blue-grey-70{	color: rgba(96,125,139,.7)!important;}
.color-blue-grey-80{	color: rgba(96,125,139,.8)!important;}
.color-blue-grey-90{	color: rgba(96,125,139,.9)!important;}

.color-white{   color: rgba(250,250,250 ,1)!important;}
.color-white-0{ color: rgba(250,250,250 ,1)!important;}
.color-white-10{ color: rgba(250,250,250,.1)!important;}
.color-white-20{ color: rgba(250,250,250,.2)!important;}
.color-white-30{ color: rgba(250,250,250,.3)!important;}
.color-white-40{ color: rgba(250,250,250,.4)!important;}
.color-white-50{ color: rgba(250,250,250,.5)!important;}
.color-white-60{ color: rgba(250,250,250,.6)!important;}
.color-white-70{ color: rgba(250,250,250,.7)!important;}
.color-white-80{ color: rgba(250,250,250,.8)!important;}
.color-white-90{ color: rgba(250,250,250,.9)!important;}

.color-black{    color: rgba(0,0,0,1)!important;}
.color-black-0{  color: rgba(0,0,0,1)!important;}
.color-black-10{ color: rgba(0,0,0,.1)!important;}
.color-black-20{ color: rgba(0,0,0,.2)!important;}
.color-black-30{ color: rgba(0,0,0,.3)!important;}
.color-black-40{ color: rgba(0,0,0,.4)!important;}
.color-black-50{ color: rgba(0,0,0,.5)!important;}
.color-black-60{ color: rgba(0,0,0,.6)!important;}
.color-black-70{ color: rgba(0,0,0,.7)!important;}
.color-black-80{ color: rgba(0,0,0,.8)!important;}
.color-black-90{ color: rgba(0,0,0,.9)!important;}

/*****************************************************/
/*--------------- background-color ------------------*/
/*****************************************************/
.bgc-red {	    background-color: rgba(244,67,54,1)!important;}
.bgc-red-0 {	background-color: rgba(244,67,54,1)!important;}
.bgc-red-10{	background-color: rgba(244,67,54,.1)!important;}
.bgc-red-20{	background-color: rgba(244,67,54,.2)!important;}
.bgc-red-30{	background-color: rgba(244,67,54,.3)!important;}
.bgc-red-40{	background-color: rgba(244,67,54,.4)!important;}
.bgc-red-50{	background-color: rgba(244,67,54,.5)!important;}
.bgc-red-60{	background-color: rgba(244,67,54,.6)!important;}
.bgc-red-70{	background-color: rgba(244,67,54,.7)!important;}
.bgc-red-80{	background-color: rgba(244,67,54,.8)!important;}
.bgc-red-90{	background-color: rgba(244,67,54,.9)!important;}

.bgc-pink {	    background-color: rgba(233,30,99,1)!important;}
.bgc-pink-0 {	background-color: rgba(233,30,99,1)!important;}
.bgc-pink-10{	background-color: rgba(233,30,99,.1)!important;}
.bgc-pink-20{	background-color: rgba(233,30,99,.2)!important;}
.bgc-pink-30{	background-color: rgba(233,30,99,.3)!important;}
.bgc-pink-40{	background-color: rgba(233,30,99,.4)!important;}
.bgc-pink-50{	background-color: rgba(233,30,99,.5)!important;}
.bgc-pink-60{	background-color: rgba(233,30,99,.6)!important;}
.bgc-pink-70{	background-color: rgba(233,30,99,.7)!important;}
.bgc-pink-80{	background-color: rgba(233,30,99,.8)!important;}
.bgc-pink-90{	background-color: rgba(233,30,99,.9)!important;}

.bgc-purple {	background-color: rgba(156,39,176,1)!important;}
.bgc-purple-0 {	background-color: rgba(156,39,176,1)!important;}
.bgc-purple-10{	background-color: rgba(156,39,176,.1)!important;}
.bgc-purple-20{	background-color: rgba(156,39,176,.2)!important;}
.bgc-purple-30{	background-color: rgba(156,39,176,.3)!important;}
.bgc-purple-40{	background-color: rgba(156,39,176,.4)!important;}
.bgc-purple-50{	background-color: rgba(156,39,176,.5)!important;}
.bgc-purple-60{	background-color: rgba(156,39,176,.6)!important;}
.bgc-purple-70{	background-color: rgba(156,39,176,.7)!important;}
.bgc-purple-80{	background-color: rgba(156,39,176,.8)!important;}
.bgc-purple-90{	background-color: rgba(156,39,176,.9)!important;}

.bgc-deep-purple {	    background-color: rgba(103,58,183,1)!important;}
.bgc-deep-purple-0 {	background-color: rgba(103,58,183,1)!important;}
.bgc-deep-purple-10{	background-color: rgba(103,58,183,.1)!important;}
.bgc-deep-purple-20{	background-color: rgba(103,58,183,.2)!important;}
.bgc-deep-purple-30{	background-color: rgba(103,58,183,.3)!important;}
.bgc-deep-purple-40{	background-color: rgba(103,58,183,.4)!important;}
.bgc-deep-purple-50{	background-color: rgba(103,58,183,.5)!important;}
.bgc-deep-purple-60{	background-color: rgba(103,58,183,.6)!important;}
.bgc-deep-purple-70{	background-color: rgba(103,58,183,.7)!important;}
.bgc-deep-purple-80{	background-color: rgba(103,58,183,.8)!important;}
.bgc-deep-purple-90{	background-color: rgba(103,58,183,.9)!important;}

.bgc-indigo { 	background-color: rgba(63,81,181,1)!important;}
.bgc-indigo-0 { background-color: rgba(63,81,181,1)!important;}
.bgc-indigo-10{	background-color: rgba(63,81,181,.1)!important;}
.bgc-indigo-20{	background-color: rgba(63,81,181,.2)!important;}
.bgc-indigo-30{	background-color: rgba(63,81,181,.3)!important;}
.bgc-indigo-40{	background-color: rgba(63,81,181,.4)!important;}
.bgc-indigo-50{	background-color: rgba(63,81,181,.5)!important;}
.bgc-indigo-60{	background-color: rgba(63,81,181,.6)!important;}
.bgc-indigo-70{	background-color: rgba(63,81,181,.7)!important;}
.bgc-indigo-80{	background-color: rgba(63,81,181,.8)!important;}
.bgc-indigo-90{	background-color: rgba(63,81,181,.9)!important;}

.bgc-blue { 	background-color: rgba(33,150,243,1)!important;}
.bgc-blue-0 { 	background-color: rgba(33,150,243,1)!important;}
.bgc-blue-10{	background-color: rgba(33,150,243,.1)!important;}
.bgc-blue-20{	background-color: rgba(33,150,243,.2)!important;}
.bgc-blue-30{	background-color: rgba(33,150,243,.3)!important;}
.bgc-blue-40{	background-color: rgba(33,150,243,.4)!important;}
.bgc-blue-50{	background-color: rgba(33,150,243,.5)!important;}
.bgc-blue-60{	background-color: rgba(33,150,243,.6)!important;}
.bgc-blue-70{	background-color: rgba(33,150,243,.7)!important;}
.bgc-blue-80{	background-color: rgba(33,150,243,.8)!important;}
.bgc-blue-90{	background-color: rgba(33,150,243,.9)!important;}

.bgc-light-blue { 	background-color: rgba(3,169,244,1)!important;}
.bgc-light-blue-0 { background-color: rgba(3,169,244,1)!important;}
.bgc-light-blue-10{	background-color: rgba(3,169,244,.1)!important;}
.bgc-light-blue-20{	background-color: rgba(3,169,244,.2)!important;}
.bgc-light-blue-30{	background-color: rgba(3,169,244,.3)!important;}
.bgc-light-blue-40{	background-color: rgba(3,169,244,.4)!important;}
.bgc-light-blue-50{	background-color: rgba(3,169,244,.5)!important;}
.bgc-light-blue-60{	background-color: rgba(3,169,244,.6)!important;}
.bgc-light-blue-70{	background-color: rgba(3,169,244,.7)!important;}
.bgc-light-blue-80{	background-color: rgba(3,169,244,.8)!important;}
.bgc-light-blue-90{	background-color: rgba(3,169,244,.9)!important;}

.bgc-cyan { 	background-color: rgba(0,188,212,1)!important;}
.bgc-cyan-0 { 	background-color: rgba(0,188,212,1)!important;}
.bgc-cyan-10{	background-color: rgba(0,188,212,.1)!important;}
.bgc-cyan-20{	background-color: rgba(0,188,212,.2)!important;}
.bgc-cyan-30{	background-color: rgba(0,188,212,.3)!important;}
.bgc-cyan-40{	background-color: rgba(0,188,212,.4)!important;}
.bgc-cyan-50{	background-color: rgba(0,188,212,.5)!important;}
.bgc-cyan-60{	background-color: rgba(0,188,212,.6)!important;}
.bgc-cyan-70{	background-color: rgba(0,188,212,.7)!important;}
.bgc-cyan-80{	background-color: rgba(0,188,212,.8)!important;}
.bgc-cyan-90{	background-color: rgba(0,188,212,.9)!important;}

.bgc-teal { 	background-color: rgba(0,150,136,1)!important;}
.bgc-teal-0 { 	background-color: rgba(0,150,136,1)!important;}
.bgc-teal-10{	background-color: rgba(0,150,136,.1)!important;}
.bgc-teal-20{	background-color: rgba(0,150,136,.2)!important;}
.bgc-teal-30{	background-color: rgba(0,150,136,.3)!important;}
.bgc-teal-40{	background-color: rgba(0,150,136,.4)!important;}
.bgc-teal-50{	background-color: rgba(0,150,136,.5)!important;}
.bgc-teal-60{	background-color: rgba(0,150,136,.6)!important;}
.bgc-teal-70{	background-color: rgba(0,150,136,.7)!important;}
.bgc-teal-80{	background-color: rgba(0,150,136,.8)!important;}
.bgc-teal-90{	background-color: rgba(0,150,136,.9)!important;}

.bgc-green { 	background-color: rgba(76,175,80,1)!important;}
.bgc-green-0 { 	background-color: rgba(76,175,80,1)!important;}
.bgc-green-10{	background-color: rgba(76,175,80,.1)!important;}
.bgc-green-20{	background-color: rgba(76,175,80,.2)!important;}
.bgc-green-30{	background-color: rgba(76,175,80,.3)!important;}
.bgc-green-40{	background-color: rgba(76,175,80,.4)!important;}
.bgc-green-50{	background-color: rgba(76,175,80,.5)!important;}
.bgc-green-60{	background-color: rgba(76,175,80,.6)!important;}
.bgc-green-70{	background-color: rgba(76,175,80,.7)!important;}
.bgc-green-80{	background-color: rgba(76,175,80,.8)!important;}
.bgc-green-90{	background-color: rgba(76,175,80,.9)!important;}

.bgc-light-green { 	    background-color: rgba(139,195,74,1)!important;}
.bgc-light-green-0 { 	background-color: rgba(139,195,74,1)!important;}
.bgc-light-green-10{	background-color: rgba(139,195,74,.1)!important;}
.bgc-light-green-20{	background-color: rgba(139,195,74,.2)!important;}
.bgc-light-green-30{	background-color: rgba(139,195,74,.3)!important;}
.bgc-light-green-40{	background-color: rgba(139,195,74,.4)!important;}
.bgc-light-green-50{	background-color: rgba(139,195,74,.5)!important;}
.bgc-light-green-60{	background-color: rgba(139,195,74,.6)!important;}
.bgc-light-green-70{	background-color: rgba(139,195,74,.7)!important;}
.bgc-light-green-80{	background-color: rgba(139,195,74,.8)!important;}
.bgc-light-green-90{	background-color: rgba(139,195,74,.9)!important;}

.bgc-lime { 	background-color: rgba(205,220,57,1)!important;}
.bgc-lime-0 { 	background-color: rgba(205,220,57,1)!important;}
.bgc-lime-10{	background-color: rgba(205,220,57,.1)!important;}
.bgc-lime-20{	background-color: rgba(205,220,57,.2)!important;}
.bgc-lime-30{	background-color: rgba(205,220,57,.3)!important;}
.bgc-lime-40{	background-color: rgba(205,220,57,.4)!important;}
.bgc-lime-50{	background-color: rgba(205,220,57,.5)!important;}
.bgc-lime-60{	background-color: rgba(205,220,57,.6)!important;}
.bgc-lime-70{	background-color: rgba(205,220,57,.7)!important;}
.bgc-lime-80{	background-color: rgba(205,220,57,.8)!important;}
.bgc-lime-90{	background-color: rgba(205,220,57,.9)!important;}

.bgc-yellow { 	background-color: rgba(255,235,59,1)!important;}
.bgc-yellow-0 { background-color: rgba(255,235,59,1)!important;}
.bgc-yellow-10{	background-color: rgba(255,235,59,.1)!important;}
.bgc-yellow-20{	background-color: rgba(255,235,59,.2)!important;}
.bgc-yellow-30{	background-color: rgba(255,235,59,.3)!important;}
.bgc-yellow-40{	background-color: rgba(255,235,59,.4)!important;}
.bgc-yellow-50{	background-color: rgba(255,235,59,.5)!important;}
.bgc-yellow-60{	background-color: rgba(255,235,59,.6)!important;}
.bgc-yellow-70{	background-color: rgba(255,235,59,.7)!important;}
.bgc-yellow-80{	background-color: rgba(255,235,59,.8)!important;}
.bgc-yellow-90{	background-color: rgba(255,235,59,.9)!important;}

.bgc-amber { 	background-color: rgba(255,193,7,1)!important;}
.bgc-amber-0 { 	background-color: rgba(255,193,7,1)!important;}
.bgc-amber-10{	background-color: rgba(255,193,7,.1)!important;}
.bgc-amber-20{	background-color: rgba(255,193,7,.2)!important;}
.bgc-amber-30{	background-color: rgba(255,193,7,.3)!important;}
.bgc-amber-40{	background-color: rgba(255,193,7,.4)!important;}
.bgc-amber-50{	background-color: rgba(255,193,7,.5)!important;}
.bgc-amber-60{	background-color: rgba(255,193,7,.6)!important;}
.bgc-amber-70{	background-color: rgba(255,193,7,.7)!important;}
.bgc-amber-80{	background-color: rgba(255,193,7,.8)!important;}
.bgc-amber-90{	background-color: rgba(255,193,7,.9)!important;}

.bgc-orange { 	background-color: rgba(255,152,0,1)!important;}
.bgc-orange-0 { background-color: rgba(255,152,0,1)!important;}
.bgc-orange-10{	background-color: rgba(255,152,0,.1)!important;}
.bgc-orange-20{	background-color: rgba(255,152,0,.2)!important;}
.bgc-orange-30{	background-color: rgba(255,152,0,.3)!important;}
.bgc-orange-40{	background-color: rgba(255,152,0,.4)!important;}
.bgc-orange-50{	background-color: rgba(255,152,0,.5)!important;}
.bgc-orange-60{	background-color: rgba(255,152,0,.6)!important;}
.bgc-orange-70{	background-color: rgba(255,152,0,.7)!important;}
.bgc-orange-80{	background-color: rgba(255,152,0,.8)!important;}
.bgc-orange-90{	background-color: rgba(255,152,0,.9)!important;}

.bgc-deep-orange { 	    background-color: rgba(255,87,34,1)!important;}
.bgc-deep-orange-0 { 	background-color: rgba(255,87,34,1)!important;}
.bgc-deep-orange-10{	background-color: rgba(255,87,34,.1)!important;}
.bgc-deep-orange-20{	background-color: rgba(255,87,34,.2)!important;}
.bgc-deep-orange-30{	background-color: rgba(255,87,34,.3)!important;}
.bgc-deep-orange-40{	background-color: rgba(255,87,34,.4)!important;}
.bgc-deep-orange-50{	background-color: rgba(255,87,34,.5)!important;}
.bgc-deep-orange-60{	background-color: rgba(255,87,34,.6)!important;}
.bgc-deep-orange-70{	background-color: rgba(255,87,34,.7)!important;}
.bgc-deep-orange-80{	background-color: rgba(255,87,34,.8)!important;}
.bgc-deep-orange-90{	background-color: rgba(255,87,34,.9)!important;}

.bgc-brown { 	background-color: rgba(121,85,72,1)!important;}
.bgc-brown-0 { 	background-color: rgba(121,85,72,1)!important;}
.bgc-brown-10{	background-color: rgba(121,85,72,.1)!important;}
.bgc-brown-20{	background-color: rgba(121,85,72,.2)!important;}
.bgc-brown-30{	background-color: rgba(121,85,72,.3)!important;}
.bgc-brown-40{	background-color: rgba(121,85,72,.4)!important;}
.bgc-brown-50{	background-color: rgba(121,85,72,.5)!important;}
.bgc-brown-60{	background-color: rgba(121,85,72,.6)!important;}
.bgc-brown-70{	background-color: rgba(121,85,72,.7)!important;}
.bgc-brown-80{	background-color: rgba(121,85,72,.8)!important;}
.bgc-brown-90{	background-color: rgba(121,85,72,.9)!important;}

.bgc-brown { 	background-color: rgba(121,85,72,1)!important;}
.bgc-brown-0 { 	background-color: rgba(121,85,72,1)!important;}
.bgc-brown-10{	background-color: rgba(121,85,72,.1)!important;}
.bgc-brown-20{	background-color: rgba(121,85,72,.2)!important;}
.bgc-brown-30{	background-color: rgba(121,85,72,.3)!important;}
.bgc-brown-40{	background-color: rgba(121,85,72,.4)!important;}
.bgc-brown-50{	background-color: rgba(121,85,72,.5)!important;}
.bgc-brown-60{	background-color: rgba(121,85,72,.6)!important;}
.bgc-brown-70{	background-color: rgba(121,85,72,.7)!important;}
.bgc-brown-80{	background-color: rgba(121,85,72,.8)!important;}
.bgc-brown-90{	background-color: rgba(121,85,72,.9)!important;}

.bgc-grey{	    background-color: rgba(158,158,158,1)!important;}
.bgc-grey-0{	background-color: rgba(158,158,158,1)!important;}
.bgc-grey-10{	background-color: rgba(158,158,158,.1)!important;}
.bgc-grey-20{	background-color: rgba(158,158,158,.2)!important;}
.bgc-grey-30{	background-color: rgba(158,158,158,.3)!important;}
.bgc-grey-40{	background-color: rgba(158,158,158,.4)!important;}
.bgc-grey-50{	background-color: rgba(158,158,158,.5)!important;}
.bgc-grey-60{	background-color: rgba(158,158,158,.6)!important;}
.bgc-grey-70{	background-color: rgba(158,158,158,.7)!important;}
.bgc-grey-80{	background-color: rgba(158,158,158,.8)!important;}
.bgc-grey-90{	background-color: rgba(158,158,158,.9)!important;}

.bgc-blue-grey{	    background-color: rgba(96,125,139,1)!important;}
.bgc-blue-grey-0{	background-color: rgba(96,125,139,1)!important;}
.bgc-blue-grey-10{	background-color: rgba(96,125,139,.1)!important;}
.bgc-blue-grey-20{	background-color: rgba(96,125,139,.2)!important;}
.bgc-blue-grey-30{	background-color: rgba(96,125,139,.3)!important;}
.bgc-blue-grey-40{	background-color: rgba(96,125,139,.4)!important;}
.bgc-blue-grey-50{	background-color: rgba(96,125,139,.5)!important;}
.bgc-blue-grey-60{	background-color: rgba(96,125,139,.6)!important;}
.bgc-blue-grey-70{	background-color: rgba(96,125,139,.7)!important;}
.bgc-blue-grey-80{	background-color: rgba(96,125,139,.8)!important;}
.bgc-blue-grey-90{	background-color: rgba(96,125,139,.9)!important;}

.bgc-white-00{ background-color: rgba(250,250,250 ,0)!important;}
.bgc-white{    background-color: rgba(250,250,250 ,1)!important;}
.bgc-white-0{  background-color: rgba(250,250,250 ,1)!important;}
.bgc-white-10{ background-color: rgba(250,250,250,.1)!important;}
.bgc-white-20{ background-color: rgba(250,250,250,.2)!important;}
.bgc-white-30{ background-color: rgba(250,250,250,.3)!important;}
.bgc-white-40{ background-color: rgba(250,250,250,.4)!important;}
.bgc-white-50{ background-color: rgba(250,250,250,.5)!important;}
.bgc-white-60{ background-color: rgba(250,250,250,.6)!important;}
.bgc-white-70{ background-color: rgba(250,250,250,.7)!important;}
.bgc-white-80{ background-color: rgba(250,250,250,.8)!important;}
.bgc-white-90{ background-color: rgba(250,250,250,.9)!important;}

.bgc-black{    background-color: rgba(0,0,0,1)!important;}
.bgc-black-0{  background-color: rgba(0,0,0,1)!important;}
.bgc-black-10{ background-color: rgba(0,0,0,.1)!important;}
.bgc-black-20{ background-color: rgba(0,0,0,.2)!important;}
.bgc-black-30{ background-color: rgba(0,0,0,.3)!important;}
.bgc-black-40{ background-color: rgba(0,0,0,.4)!important;}
.bgc-black-50{ background-color: rgba(0,0,0,.5)!important;}
.bgc-black-60{ background-color: rgba(0,0,0,.6)!important;}
.bgc-black-70{ background-color: rgba(0,0,0,.7)!important;}
.bgc-black-80{ background-color: rgba(0,0,0,.8)!important;}
.bgc-black-90{ background-color: rgba(0,0,0,.9)!important;}

/*****************************************************/
/*-------------------- z-index ----------------------*/
/*****************************************************/
.z-index-1{z-index: 1!important;}
.z-index-2{z-index: 2!important;}
.z-index-3{z-index: 3!important;}
.z-index-4{z-index: 4!important;}
.z-index-5{z-index: 5!important;}
.z-index-6{z-index: 6!important;}
.z-index-7{z-index: 7!important;}
.z-index-8{z-index: 8!important;}
.z-index-9{z-index: 9!important;}
.z-index-10{z-index: 10!important;}
.z-index-9999{z-index: 9999!important;}

/****************************/
/**** MARGIN, PADDING *******/
/****************************/
.m-0{ margin: 0!important; }
.m-01{ margin: .1em!important; }
.m-02{ margin: .2em!important; }
.m-03{ margin: .3em!important; }
.m-04{ margin: .4em!important; }
.m-05{ margin: .5em!important; }
.m-06{ margin: .6em!important; }
.m-07{ margin: .7em!important; }
.m-08{ margin: .8em!important; }
.m-09{ margin: .9em!important; }
.m-10{ margin: 1em!important; }
.m-11{ margin: 1.1em!important; }

.m-auto{ margin: auto!important; }

.m-t-17{ margin-top:1.7em!important;}
.m-t-16{ margin-top:1.6em!important;}
.m-t-15{ margin-top:1.5em!important;}
.m-t-14{ margin-top:1.4em!important;}
.m-t-13{ margin-top:1.3em!important;}
.m-t-12{ margin-top:1.2em!important;}
.m-t-11{ margin-top:1.1em!important;}
.m-t-10{ margin-top:1em!important;}
.m-t-09{ margin-top:.9em!important;}
.m-t-08{ margin-top:.8em!important;}
.m-t-07{ margin-top:.7em!important;}
.m-t-06{ margin-top:.6em!important;}
.m-t-05{ margin-top:.5em!important;}
.m-t-04{ margin-top:.4em!important;}
.m-t-03{ margin-top:.3em!important;}
.m-t-02{ margin-top:.2em!important;}
.m-t-01{ margin-top:.1em!important;}
.m-t-0{ margin-top:0!important;}

.m-b-0{ margin-bottom: 0!important; }
.m-b-01{ margin-bottom: .1em!important; }
.m-b-02{ margin-bottom: .2em!important; }
.m-b-03{ margin-bottom: .3em!important; }
.m-b-04{ margin-bottom: .4em!important; }
.m-b-05{ margin-bottom: .5em!important; }
.m-b-06{ margin-bottom: .6em!important; }
.m-b-07{ margin-bottom: .7em!important; }
.m-b-08{ margin-bottom: .8em!important; }
.m-b-09{ margin-bottom: .9em!important; }
.m-b-10{ margin-bottom: 1em!important; }
.m-b-11{ margin-bottom: 1.1em!important; }
.m-b-12{ margin-bottom: 1.2em!important; }
.m-b-13{ margin-bottom: 1.3em!important; }
.m-b-14{ margin-bottom: 1.4em!important; }
.m-b-15{ margin-bottom: 1.5em!important; }
.m-b-16{ margin-bottom: 1.6em!important; }
.m-b-17{ margin-bottom: 1.7em!important; }
.m-b-18{ margin-bottom: 1.8em!important; }
.m-b-19{ margin-bottom: 1.9em!important; }
.m-b-20{ margin-bottom: 2em!important;}
.m-b-21{ margin-bottom: 2.1em!important; }
.m-b-22{ margin-bottom: 2.2em!important; }
.m-b-23{ margin-bottom: 2.3em!important; }
.m-b-24{ margin-bottom: 2.4em!important; }
.m-b-25{ margin-bottom: 2.5em!important; }
.m-b-26{ margin-bottom: 2.6em!important; }
.m-b-27{ margin-bottom: 2.7em!important; }
.m-b-28{ margin-bottom: 2.8em!important; }
.m-b-29{ margin-bottom: 2.9em!important; }
.m-b-30{ margin-bottom: 3em!important;}

.m-l-0{ margin-left: 0!important; }
.m-l-01{ margin-left: .1em!important; }
.m-l-02{ margin-left: .2em!important; }
.m-l-03{ margin-left: .3em!important; }
.m-l-04{ margin-left: .4em!important; }
.m-l-05{ margin-left: .5em!important; }
.m-l-06{ margin-left: .6em!important; }
.m-l-07{ margin-left: .7em!important; }
.m-l-08{ margin-left: .8em!important; }
.m-l-09{ margin-left: .9em!important; }
.m-l-10{ margin-left: 1em!important; }
.m-l-11{ margin-left: 1.1em!important; }
.m-l-12{ margin-left: 1.2em!important; }
.m-l-13{ margin-left: 1.3em!important; }
.m-l-14{ margin-left: 1.4em!important; }
.m-l-15{ margin-left: 1.5em!important; }
.m-l-16{ margin-left: 1.6em!important; }
.m-l-17{ margin-left: 1.7em!important; }
.m-l-18{ margin-left: 1.8em!important; }
.m-l-19{ margin-left: 1.9em!important; }
.m-l-20{ margin-left: 2em!important; }

.m-r-0{ margin-right: 0!important; }
.m-r-01{ margin-right: .1em!important; }
.m-r-02{ margin-right: .2em!important; }
.m-r-03{ margin-right: .3em!important; }
.m-r-04{ margin-right: .4em!important; }
.m-r-05{ margin-right: .5em!important; }
.m-r-06{ margin-right: .6em!important; }
.m-r-07{ margin-right: .7em!important; }
.m-r-08{ margin-right: .8em!important; }
.m-r-09{ margin-right: .9em!important; }
.m-r-10{ margin-right: 1em!important; }
.m-r-11{ margin-right: 1.1em!important; }
.m-r-12{ margin-right: 1.2em!important; }
.m-r-13{ margin-right: 1.3em!important; }
.m-r-14{ margin-right: 1.4em!important; }
.m-r-15{ margin-right: 1.5em!important; }
.m-r-16{ margin-right: 1.6em!important; }
.m-r-17{ margin-right: 1.7em!important; }
.m-r-18{ margin-right: 1.8em!important; }
.m-r-19{ margin-right: 1.9em!important; }
.m-r-20{ margin-right: 2em!important; }

.m-lr-0{ margin-left: 0; margin-right: 0;}
.m-lr-01{ margin-left: .1em; margin-right: .1em;}
.m-lr-02{ margin-left: .2em; margin-right: .2em;}
.m-lr-03{ margin-left: .3em; margin-right: .3em;}
.m-lr-04{ margin-left: .4em; margin-right: .4em;}
.m-lr-05{ margin-left: .5em; margin-right: .5em;}
.m-lr-06{ margin-left: .6em; margin-right: .6em;}
.m-lr-07{ margin-left: .7em; margin-right: .7em;}
.m-lr-08{ margin-left: .8em; margin-right: .8em;}
.m-lr-09{ margin-left: .9em; margin-right: .9em;}
.m-lr-10{ margin-left: 1em; margin-right: 1em;}
.m-lr-11{ margin-left: 1.1em; margin-right: 1.1em;}
.m-lr-12{ margin-left: 1.2em; margin-right: 1.2em;}
.m-lr-13{ margin-left: 1.3em; margin-right: 1.3em;}
.m-lr-14{ margin-left: 1.4em; margin-right: 1.4em;}
.m-lr-15{ margin-left: 1.5em; margin-right: 1.5em;}
.m-lr-16{ margin-left: 1.6em; margin-right: 1.6em;}
.m-lr-17{ margin-left: 1.7em; margin-right: 1.7em;}
.m-lr-18{ margin-left: 1.8em; margin-right: 1.8em;}
.m-lr-19{ margin-left: 1.9em; margin-right: 1.9em;}
.m-lr-20{ margin-left: 2em; margin-right: 2em;}
.m-lr-25{ margin-left: 2.5em; margin-right: 2.5em;}
.m-lr-30{ margin-left: 3em; margin-right: 3em;}
.m-lr-40{ margin-left: 4em; margin-right: 4em;}
.m-lr-50{ margin-left: 5em; margin-right: 5em;}

.m-tb-0{ margin-top: 0; margin-bottom: 0;}
.m-tb-01{ margin-top: .1em; margin-bottom: .1em;}
.m-tb-02{ margin-top: .2em; margin-bottom: .2em;}
.m-tb-03{ margin-top: .3em; margin-bottom: .3em;}
.m-tb-04{ margin-top: .4em; margin-bottom: .4em;}
.m-tb-05{ margin-top: .5em; margin-bottom: .5em;}
.m-tb-06{ margin-top: .6em; margin-bottom: .6em;}
.m-tb-07{ margin-top: .7em; margin-bottom: .7em;}
.m-tb-08{ margin-top: .8em; margin-bottom: .8em;}
.m-tb-10{ margin-top: 1em; margin-bottom: 1em;}
.m-tb-11{ margin-top: 1.1em; margin-bottom: 1.1em;}
.m-tb-12{ margin-top: 1.2em; margin-bottom: 1.2em;}
.m-tb-13{ margin-top: 1.3em; margin-bottom: 1.3em;}
.m-tb-14{ margin-top: 1.4em; margin-bottom: 1.4em;}
.m-tb-15{ margin-top: 1.5em; margin-bottom: 1.5em;}
.m-tb-16{ margin-top: 1.6em; margin-bottom: 1.6em;}
.m-tb-17{ margin-top: 1.7em; margin-bottom: 1.7em;}
.m-tb-18{ margin-top: 1.8em; margin-bottom: 1.8em;}
.m-tb-19{ margin-top: 1.9em; margin-bottom: 1.9em;}
.m-tb-20{ margin-top: 2em; margin-bottom: 2em;}

.p-0{ padding: 0!important; }
.p-01{ padding: .1em!important; }
.p-02{ padding: .2em!important; }
.p-03{ padding: .3em!important; }
.p-04{ padding: .4em!important; }
.p-05{ padding: .5em!important; }
.p-06{ padding: .6em; }
.p-07{ padding: .7em; }
.p-08{ padding: .8em; }
.p-09{ padding: .9em; }
.p-10{ padding: 1em; }
.p-11{ padding: 1.1em; }
.p-12{ padding: 1.2em; }
.p-13{ padding: 1.3em; }
.p-14{ padding: 1.4em; }
.p-15{ padding: 1.5em; }
.p-16{ padding: 1.6em; }
.p-17{ padding: 1.7em; }
.p-18{ padding: 1.8em; }
.p-19{ padding: 1.9em; }
.p-20{ padding: 2em; }

.p-lr-0{ padding-left: 0!important; padding-right: 0!important;}
.p-lr-01{ padding-left: .1em!important; padding-right: .1em!important;}
.p-lr-02{ padding-left: .2em!important; padding-right: .2em!important;}
.p-lr-03{ padding-left: .3em!important; padding-right: .3em!important;}
.p-lr-04{ padding-left: .4em!important; padding-right: .4em!important;}
.p-lr-05{ padding-left: .5em!important; padding-right: .5em!important;}
.p-lr-06{ padding-left: .6em!important; padding-right: .6em!important;}
.p-lr-07{ padding-left: .7em!important; padding-right: .7em!important;}
.p-lr-08{ padding-left: .8em!important; padding-right: .8em!important;}
.p-lr-09{ padding-left: .9em!important; padding-right: .9em!important;}
.p-lr-10{ padding-left: 1em!important; padding-right: 1em!important;}
.p-lr-11{ padding-left: 1.1em!important; padding-right: 1.1em!important;}
.p-lr-12{ padding-left: 1.2em!important; padding-right: 1.2em!important;}
.p-lr-13{ padding-left: 1.3em!important; padding-right: 1.3em!important;}
.p-lr-14{ padding-left: 1.4em!important; padding-right: 1.4em!important;}
.p-lr-15{ padding-left: 1.5em!important; padding-right: 1.5em!important;}
.p-lr-16{ padding-left: 1.6em!important; padding-right: 1.6em!important;}
.p-lr-17{ padding-left: 1.7em!important; padding-right: 1.7em!important;}
.p-lr-18{ padding-left: 1.8em!important; padding-right: 1.8em!important;}
.p-lr-19{ padding-left: 1.9em!important; padding-right: 1.9em!important;}
.p-lr-20{ padding-left: 2em!important; padding-right: 2em!important;}

.p-tb-0{ padding-top: 0; padding-bottom: 0; }
.p-tb-01{ padding-top: .1em; padding-bottom: .1em; }
.p-tb-02{ padding-top: .2em; padding-bottom: .2em; }
.p-tb-03{ padding-top: .3em; padding-bottom: .3em; }
.p-tb-04{ padding-top: .4em; padding-bottom: .4em; }
.p-tb-05{ padding-top: .5em; padding-bottom: .5em; }
.p-tb-06{ padding-top: .6em; padding-bottom: .6em; }
.p-tb-07{ padding-top: .7em; padding-bottom: .7em; }
.p-tb-08{ padding-top: .8em; padding-bottom: .8em; }
.p-tb-09{ padding-top: .9em; padding-bottom: .9em; }
.p-tb-10{ padding-top: 1em; padding-bottom: 1em; }

.p-t-0{ padding-top: 0!important; }
.p-t-01{ padding-top: .1em!important; }
.p-t-02{ padding-top: .2em!important; }
.p-t-03{ padding-top: .3em!important; }
.p-t-04{ padding-top: .4em!important; }
.p-t-05{ padding-top: .5em!important; }
.p-t-06{ padding-top: .6em!important; }
.p-t-07{ padding-top: .7em!important; }
.p-t-08{ padding-top: .8em!important; }
.p-t-09{ padding-top: .9em!important; }
.p-t-10{ padding-top: 1em!important; }
.p-t-11{ padding-top: 1.1em!important; }
.p-t-12{ padding-top: 1.2em!important; }
.p-t-13{ padding-top: 1.3em!important; }
.p-t-14{ padding-top: 1.4em!important; }
.p-t-15{ padding-top: 1.5em!important; }

.p-b-0{ padding-bottom: 0!important; }
.p-b-01{ padding-bottom: .1em!important; }
.p-b-02{ padding-bottom: .2em!important; }
.p-b-03{ padding-bottom: .3em!important; }
.p-b-04{ padding-bottom: .4em!important; }
.p-b-05{ padding-bottom: .5em!important; }
.p-b-06{ padding-bottom: .6em!important; }
.p-b-07{ padding-bottom: .7em!important; }
.p-b-08{ padding-bottom: .8em!important; }
.p-b-09{ padding-bottom: .9em!important; }
.p-b-10{ padding-bottom: 1em!important; }

.p-l-0{ padding-left: 0;}
.p-l-01{ padding-left: .1em!important;}
.p-l-02{ padding-left: .2em!important;}
.p-l-03{ padding-left: .3em!important;}
.p-l-04{ padding-left: .4em!important;}
.p-l-05{ padding-left: .5em!important;}
.p-l-06{ padding-left: .6em!important;}
.p-l-07{ padding-left: .7em!important;}
.p-l-08{ padding-left: .8em!important;}
.p-l-09{ padding-left: .9em!important;}
.p-l-10{ padding-left: 1em!important;}
.p-l-11{ padding-left: 1.1em!important;}
.p-l-12{ padding-left: 1.2em!important;}
.p-l-13{ padding-left: 1.3em!important;}
.p-l-14{ padding-left: 1.4em!important;}
.p-l-15{ padding-left: 1.5em!important;}
.p-l-16{ padding-left: 1.6em!important;}
.p-l-17{ padding-left: 1.7em!important;}
.p-l-18{ padding-left: 1.8em!important;}
.p-l-19{ padding-left: 1.9em!important;}
.p-l-20{ padding-left: 2.0em!important;}
.p-l-25{ padding-left: 2.5em!important;}

.p-r-0{ padding-right: 0!important;}
.p-r-01{ padding-right: .1em!important;}
.p-r-02{ padding-right: .2em!important;}
.p-r-03{ padding-right: .3em!important;}
.p-r-04{ padding-right: .4em!important;}
.p-r-05{ padding-right: .5em!important;}
.p-r-06{ padding-right: .6em!important;}
.p-r-07{ padding-right: .7em!important;}
.p-r-08{ padding-right: .8em!important;}
.p-r-09{ padding-right: .9em!important;}
.p-r-10{ padding-right: 1em!important;}
.p-r-11{ padding-right: 1.1em!important;}
.p-r-12{ padding-right: 1.2em!important;}
.p-r-13{ padding-right: 1.3em!important;}
.p-r-14{ padding-right: 1.4em!important;}
.p-r-15{ padding-right: 1.5em!important;}
.p-r-16{ padding-right: 1.6em!important;}
.p-r-17{ padding-right: 1.7em!important;}
.p-r-18{ padding-right: 1.8em!important;}
.p-r-19{ padding-right: 1.9em!important;}
.p-r-20{ padding-right: 2.0em!important;}
.p-r-25{ padding-right: 2.5em!important;}
/****************************/
/********** IMAGE ************/
/****************************/
.img-10{ width: 10%!Important;	height: auto;	position: relative; }
.img-20{ width: 20%!Important;	height: auto;	position: relative; }
.img-30{ width: 30%!Important;	height: auto;	position: relative; }
.img-40{ width: 40%!Important;	height: auto;	position: relative; }
.img-50{ width: 50%!Important;	height: auto;	position: relative; }
.img-60{ width: 60%!Important;	height: auto;	position: relative; }
.img-70{ width: 70%!Important;	height: auto;	position: relative; }
.img-80{ width: 80%!Important;	height: auto;	position: relative; }
.img-90{ width: 90%!Important;	height: auto;	position: relative; }
.img-100{width: 100%!Important;	height: auto;	position: relative; }
/****************************/
/********** FONT ************/
/****************************/
.fs-07{ font-size: .7em!important; }
.fs-08{ font-size: .8em!important; }
.fs-09{ font-size: .9em!important; }
.fs-10{ font-size: 1em!important; }
.fs-11{ font-size: 1.1em!important; }
.fs-12{ font-size: 1.2em!important; }
.fs-13{ font-size: 1.3em!important; }
.fs-14{ font-size: 1.4em!important; }
.fs-15{ font-size: 1.5em!important; }
.fs-16{ font-size: 1.6em!important; }
.fs-17{ font-size: 1.7em!important; }
.fs-18{ font-size: 1.8em!important; }
.fs-19{ font-size: 1.9em!important; }
.fs-20{ font-size: 2em!important; }

.fw-bold{ font-weight: bold; }
.fw-normal{ font-weight: normal!important; }
.letter-sp{ letter-spacing: .1em; }

.lheight-10 { line-height: 1em; }
.lheight-11 { line-height: 1.1em; }
.lheight-12 { line-height: 1.2em; }
.lheight-13 { line-height: 1.3em; }
.lheight-14 { line-height: 1.4em; }
.lheight-15 { line-height: 1.5em; }
.lheight-16 { line-height: 1.6em; }
.lheight-17 { line-height: 1.7em; }
.lheight-18 { line-height: 1.8em; }
.lheight-19 { line-height: 1.9em; }
.lheight-20 { line-height: 2em; }
.lheight-21 { line-height: 2.1em; }
.lheight-22 { line-height: 2.2em; }
.lheight-23 { line-height: 2.3em; }
.lheight-24 { line-height: 2.4em; }
.lheight-25 { line-height: 2.5em; }
.lheight-26 { line-height: 2.6em; }
.lheight-27 { line-height: 2.7em; }
.lheight-28 { line-height: 2.8em; }
.lheight-29 { line-height: 2.9em; }
.lheight-30 { line-height: 3em; }
/****************************/
/********** BORDER **********/
/****************************/
.border-w1{border-width: 1px; border-style: solid;}
.border-w2{border-width: 2px; border-style: solid;}
.border-w3{border-width: 3px; border-style: solid;}

.border-s-s{border-style: solid;}

.border-c-red{border-color: rgba(244,67,54,1);}
.border-c-pink{border-color: rgba(233,30,99,1);}
.border-c-purple{border-color: rgba(156,39,176,1);}
.border-c-deep-purple{border-color: rgba(103,58,183,1);}
.border-c-indigo{border-color: rgba(63,81,181,1);}
.border-c-blue{border-color: rgba(33,150,243,1);}
.border-c-light-blue{border-color: rgba(3,169,244,1);}
.border-c-cyan{border-color: rgba(0,188,212,1);}
.border-c-teal{border-color: rgba(0,150,136,1);}
.border-c-green{border-color: rgba(76,175,80,1);}
.border-c-light-green{border-color: rgba(139,195,74,1);}
.border-c-lime{border-color: rgba(205,220,57,1);}
.border-c-yellow{border-color: rgba(255,235,59,1);}
.border-c-amber{border-color: rgba(255,193,7,1);}
.border-c-orange{border-color: rgba(255,152,0,1);}
.border-c-deep-orange{border-color: rgba(255,87,34,1);}
.border-c-brown{border-color: rgba(121,85,72,1);}
.border-c-grey{border-color: rgba(158,158,158,1);}
.border-c-blue-grey{border-color: rgba(96,125,139,1);}
.border-c-white{border-color: rgba(255,255,255,1);}
.border-c-black{border-color: rgba(0,0,0,1);}

.brr-0{	border-radius: 0!important; }
.brr-1{	border-radius: 1px; }
.brr-2{	border-radius: 2px; }
.brr-3{	border-radius: 3px; }
.brr-4{	border-radius: 4px; }
.brr-5{	border-radius: 5px; }
.brr-6{	border-radius: 6px; }
.brr-7{	border-radius: 7px; }
.brr-8{	border-radius: 8px; }
.brr-9{	border-radius: 9px; }
.brr-10{border-radius: 10px; }
.brr-11{border-radius: 11px; }
.brr-12{border-radius: 12px; }
.brr-13{border-radius: 13px; }
.brr-14{border-radius: 14px; }
.brr-15{border-radius: 15px; }
.brr-16{border-radius: 16px; }
.brr-17{border-radius: 17px; }
.brr-18{border-radius: 18px; }
.brr-19{border-radius: 19px; }
.brr-20{border-radius: 20px; }

.brr-50{ border-radius: 50%; }
.brr-lr-10{ border-radius: 10px; }
.brr-lr-20{ border-radius: 20px; }
.brr-lr-30{ border-radius: 30px; }
.brr-lr-40{ border-radius: 40px; }
.brr-lr-50{ border-radius: 50px; }
/*----------------------------*/
.border-t{ border-top-style: solid!important;}
.border-r{ border-right-style: solid!important;}
.border-l{ border-left-style: solid!important;}
.border-b{ border-bottom-style: solid!important;}
.border-lr{ border-right-left-style: solid!important;}
.border-tb{ border-top-bottom-style: solid!important;}

.border-w-1{ border-width: 1px!important;}
.border-w-2{ border-width: 2px!important;}

.brc-red{           border-color: rgba(244,67,54,1)!important;}
.brc-pink{          border-color: rgba(233,30,99,1)!important;}
.brc-purple{        border-color: rgba(156,39,176,1)!important;}
.brc-deep-purple{   border-color: rgba(103,58,183,1)!important;}
.brc-indigo{        border-color: rgba(63,81,181,1)!important;}
.brc-blue{          border-color: rgba(33,150,243,1)!important;}
.brc-light-blue{    border-color: rgba(3,169,244,1)!important;}
.brc-cyan{          border-color: rgba(0,188,212,1)!important;}
.brc-teal{          border-color: rgba(0,150,136,1)!important;}
.brc-green{         border-color: rgba(76,175,80,1)!important;}
.brc-light-green{   border-color: rgba(139,195,74,1)!important;}
.brc-lime{          border-color: rgba(205,220,57,1)!important;}
.brc-yellow{        border-color: rgba(255,235,59,1)!important;}
.brc-amber{         border-color: rgba(255,193,7,1)!important;}
.brc-orange{        border-color: rgba(255,152,0,1)!important;}
.brc-deep-orange{   border-color: rgba(255,87,34,1)!important;}
.brc-brown{         border-color: rgba(121,85,72,1)!important;}
.brc-grey{          border-color: rgba(158,158,158,1)!important;}
.brc-blue-grey{     border-color: rgba(96,125,139,1)!important;}
.brc-white{         border-color: rgba(255,255,255,1)!important;}
.brc-black{         border-color: rgba(0,0,0,1)!important;}

.border-none{border: none!important;}

.bshadow{  box-shadow: 3px 3px 15px -3px grey;}
.bshadow-none{  box-shadow: none}
.bshadow-white{ box-shadow: 0 0 15px -3px rgba(245,245,245 ,1); }
.text-shadow{ text-shadow: 0 0 10px grey; }
.text-shadow-none{ text-shadow: none!important; }
/****************************/
/****** DISPLAY-BlOCK *******/
/****************************/
.display-none{ display: none!important; }
.block{ display: block!important; }
.block-inline{ display: inline-block!important; }

.pos-stat{ position: static;}
.pos-fix{ position: fixed!important;}
.pos-rel{ position: relative;}
.pos-abs{ position: absolute;}

.left0{ left:0!important;}
.top0{ top: 0!important;}
.right0{ right: 0!important;}
.bottom0{ bottom: 0!important;}

.fl-left{ float: left; }
.fl-right{ float: right; }
/****************************/
/********** FLEX ************/
/****************************/
.flex{ display: flex; }
.flex-column-imp{ display: flex!important; -webkit-box-orient: vertical!important; -webkit-box-direction: normal!important; -ms-flex-direction: column!important; flex-direction: column!important; }
.flex-column{ display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.flex-row{ display: -webkit-box!important; display: -ms-flexbox!important; display: flex!important; -webkit-box-orient: horizontal!important; -webkit-box-direction: normal!important; -ms-flex-direction: row!important; flex-direction: row!important; }
.flex-wrap{-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;}
.flex-nwrap{-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
.flex-revers{-ms-flex-wrap: wrap-reverse;flex-wrap: wrap-reverse;}

.jc-start{ -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
.jc-end{ -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
.jc-center{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.jc-between{ -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.jc-around{ -ms-flex-pack: distribute; justify-content: space-around; }

.aitems-start{ -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.aitems-end{ -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
.aitems-center{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.aitems-stretch{ -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch;}
.aitems-bline{ -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline;}

.item-stretch{ -ms-flex-item-align: stretch!Important; -ms-grid-row-align: stretch!Important; align-self: stretch!Important; }
.item-center{ -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center;}
.item-auto{-ms-flex-item-align: auto;-ms-grid-row-align: auto;align-self: auto;}
.item-start{ -ms-flex-item-align: flex-start!Important; align-self: flex-start!Important; }
.item-end{ -ms-flex-item-align: flex-end!Important; align-self: flex-end!Important; }

.f-grow0{ -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0;}
.f-grow1{ -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1;}

.flex-basis-500{ flex-basis: 500px;}
/****************************/
/********** OTHER ************/
/****************************/
.text-center{ text-align: center!important;}
.text-justify{ text-align: justify;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-vert{ vertical-align: middle;}
.text-in-line{white-space: nowrap;}
.text-dec-no{text-decoration: none;}
.text-small{ overflow: hidden; text-overflow: ellipsis;}
.word-wrap{ word-wrap: break-word; }
.no-upper{ text-transform: none; }
.upper{text-transform: uppercase;}
.overflow-auto{ overflow:auto!important;}
.overflow-none{ overflow:hidden!important;}

.first-letter-07:first-letter{font-size: .7em;}
.first-letter-08:first-letter{font-size: .8em;}
.first-letter-09:first-letter{font-size: .9em;}
.first-letter-10:first-letter{font-size: 1em;}
.first-letter-11:first-letter{font-size: 1.1em;}
.first-letter-12:first-letter{font-size: 1.2em;}
.first-letter-13:first-letter{font-size: 1.3em;}
.first-letter-14:first-letter{font-size: 1.4em;}
.first-letter-15:first-letter{font-size: 1.5em;}
.first-letter-16:first-letter{font-size: 1.6em;}
.first-letter-17:first-letter{font-size: 1.7em;}
.first-letter-18:first-letter{font-size: 1.8em;}
.first-letter-19:first-letter{font-size: 1.9em;}
.first-letter-20:first-letter{font-size: 2em;}
/****************************/
/********** WIDTH ************/
/****************************/
.w-max-10{ max-width: 10%; }
.w-max-15{ max-width: 15%; }
.w-max-20{ max-width: 20%; }
.w-max-25{ max-width: 25%; }
.w-max-30{ max-width: 30%; }
.w-max-35{ max-width: 35%; }
.w-max-40{ max-width: 40%; }
.w-max-45{ max-width: 45%; }
.w-max-50{ max-width: 50%; }
.w-max-55{ max-width: 55%; }
.w-max-60{ max-width: 60%; }
.w-max-65{ max-width: 65%; }
.w-max-70{ max-width: 70%; }
.w-max-75{ max-width: 75%; }
.w-max-80{ max-width: 80%; }
.w-max-85{ max-width: 85%; }
.w-max-90{ max-width: 90%; }
.w-max-95{ max-width: 95%; }
.w-max-calc{ max-width: 90%; }

.w-05px{ width: 5px!important; }
.w-10px{ width: 10px!important; }
.w-20px{ width: 20px!important; }
.w-30px{ width: 30px!important; }
.w-40px{ width: 40px!important; }
.w-50px{ width: 50px!important; }
.w-60px{ width: 60px!important; }
.w-70px{ width: 70px!important; }
.w-80px{ width: 80px!important; }
.w-90px{ width: 90px!important; }
.w-100px{ width: 100px!important; }
.w-150px{ width: 150px!important; }
.w-200px{ width: 200px!important; }
.w-250px{ width: 250px!important; }
.w-300px{ width: 300px!important; }
.w-350px{ width: 350px!important; }
.w-400px{ width: 400px!important; }
.w-450px{ width: 450px!important; }
.w-500px{ width: 500px!important; }
.w-550px{ width: 550px!important; }
.w-600px{ width: 600px!important; }

.w-max-05px{ max-width: 5px!important; }
.w-max-10px{ max-width: 10px!important; }
.w-max-20px{ max-width: 20px!important; }
.w-max-30px{ max-width: 30px!important; }
.w-max-40px{ max-width: 40px!important; }
.w-max-50px{ max-width: 50px!important; }
.w-max-60px{ max-width: 60px!important; }
.w-max-70px{ max-width: 70px!important; }
.w-max-80px{ max-width: 80px!important; }
.w-max-90px{ max-width: 90px!important; }
.w-max-100px{ max-width: 100px!important; }
.w-max-150px{ max-width: 150px!important; }
.w-max-200px{ max-width: 200px!important; }
.w-max-250px{ max-width: 250px!important; }
.w-max-300px{ max-width: 300px!important; }
.w-max-350px{ max-width: 350px!important; }
.w-max-400px{ max-width: 400px!important; }
.w-max-450px{ max-width: 450px!important; }
.w-max-500px{ max-width: 500px!important; }
.w-max-550px{ max-width: 550px!important; }
.w-max-600px{ max-width: 600px!important; }
.w-max-650px{ max-width: 650px!important; }
.w-max-700px{ max-width: 700px!important; }
.w-max-750px{ max-width: 750px!important; }
.w-max-800px{ max-width: 800px!important; }
.w-max-850px{ max-width: 850px!important; }
.w-max-900px{ max-width: 900px!important; }
.w-max-950px{ max-width: 950px!important; }
.w-max-1000px{ max-width: 1000px!important; }

.w-min-05{ min-width: 5%!important; }
.w-min-10{ min-width: 10%!important; }
.w-min-20{ min-width: 20%!important; }
.w-min-30{ min-width: 30%!important; }
.w-min-40{ min-width: 40%!important; }
.w-min-50{ min-width: 50%!important; }
.w-min-60{ min-width: 60%!important; }
.w-min-70{ min-width: 70%!important; }
.w-min-80{ min-width: 80%!important; }
.w-min-90{ min-width: 90%!important; }
.w-min-100{ min-width: 100%!important; }

.w-min-05px{ min-width: 5px!important; }
.w-min-10px{ min-width: 10px!important; }
.w-min-20px{ min-width: 20px!important; }
.w-min-30px{ min-width: 30px!important; }
.w-min-40px{ min-width: 40px!important; }
.w-min-50px{ min-width: 50px!important; }
.w-min-60px{ min-width: 60px!important; }
.w-min-70px{ min-width: 70px!important; }
.w-min-80px{ min-width: 80px!important; }
.w-min-90px{ min-width: 90px!important; }
.w-min-100px{ min-width: 100px!important; }
.w-min-150px{ min-width: 150px!important; }
.w-min-200px{ min-width: 200px!important; }
.w-min-250px{ min-width: 250px!important; }
.w-min-300px{ min-width: 300px!important; }
.w-min-350px{ min-width: 350px!important; }
.w-min-400px{ min-width: 400px!important; }
.w-min-450px{ min-width: 450px!important; }
.w-min-500px{ min-width: 500px!important; }
.w-min-550px{ min-width: 550px!important; }
.w-min-600px{ min-width: 600px!important; }
.w-min-650px{ min-width: 650px!important; }
.w-min-700px{ min-width: 700px!important; }
.w-min-750px{ min-width: 750px!important; }
.w-min-800px{ min-width: 800px!important; }
.w-min-850px{ min-width: 850px!important; }
.w-min-900px{ min-width: 900px!important; }
.w-min-950px{ min-width: 950px!important; }
.w-min-1000px{ min-width: 1000px!important; }


.w-10{ width: 10%!important; }
.w-20{ width: 20%!important; }
.w-30{ width: 30%!important; }
.w-40{ width: 40%!important; }
.w-50{ width: 50%!important; }
.w-60{ width: 60%!important; }
.w-70{ width: 70%!important; }
.w-80{ width: 80%!important; }
.w-90{ width: 90%!important; }
.w-100{ width: 100%!important; }
.w-auto{ width: auto!important; }

.h-05px{ height: 5px!important; }
.h-10px{ height: 10px!important; }
.h-20px{ height: 20px!important; }
.h-30px{ height: 30px!important; }
.h-40px{ height: 40px!important; }
.h-50px{ height: 50px!important; }
.h-60px{ height: 60px!important; }
.h-70px{ height: 70px!important; }
.h-80px{ height: 80px!important; }
.h-90px{ height: 90px!important; }
.h-100px{ height: 100px!important; }
.h-150px{ height: 150px!important; }
.h-200px{ height: 200px!important; }
.h-250px{ height: 250px!important; }
.h-300px{ height: 300px!important; }
.h-350px{ height: 350px!important; }
.h-400px{ height: 400px!important; }

.h-max-05px{ max-height: 5px!important; }
.h-max-10px{ max-height: 10px!important; }
.h-max-20px{ max-height: 20px!important; }
.h-max-30px{ max-height: 30px!important; }
.h-max-40px{ max-height: 40px!important; }
.h-max-50px{ max-height: 50px!important; }
.h-max-60px{ max-height: 60px!important; }
.h-max-70px{ max-height: 70px!important; }
.h-max-80px{ max-height: 80px!important; }
.h-max-90px{ max-height: 90px!important; }
.h-max-100px{max-height: 100px!important; }
.h-max-110px{max-height: 110px!important; }
.h-max-150px{max-height: 150px!important; }
.h-max-200px{max-height: 200px!important; }
.h-max-250px{max-height: 250px!important; }
.h-max-300px{max-height: 300px!important; }
.h-max-350px{max-height: 350px!important; }
.h-max-400px{max-height: 400px!important; }

.h-min-05px{ min-height: 5px!important; }
.h-min-10px{ min-height: 10px!important; }
.h-min-20px{ min-height: 20px!important; }
.h-min-30px{ min-height: 30px!important; }
.h-min-40px{ min-height: 40px!important; }
.h-min-50px{ min-height: 50px!important; }
.h-min-60px{ min-height: 60px!important; }
.h-min-70px{ min-height: 70px!important; }
.h-min-80px{ min-height: 80px!important; }
.h-min-90px{ min-height: 90px!important; }
.h-min-100px{min-height: 100px!important; }
.h-min-150px{min-height: 150px!important; }
.h-min-200px{min-height: 200px!important; }
.h-min-250px{min-height: 250px!important; }
.h-min-300px{min-height: 300px!important; }
.h-min-350px{min-height: 350px!important; }
.h-min-400px{min-height: 400px!important; }

.h-10{ height: 10%!important; }
.h-20{ height: 20%!important; }
.h-30{ height: 30%!important; }
.h-40{ height: 40%!important; }
.h-50{ height: 50%!important; }
.h-60{ height: 60%!important; }
.h-70{ height: 70%!important; }
.h-80{ height: 80%!important; }
.h-90{ height: 90%!important; }
.h-100{ height: 100%!important; }
.h-auto{ height: auto!important;}

.he-10{ height: 10vh!important; }
.he-20{ height: 20vh!important; }
.he-30{ height: 30vh!important; }
.he-40{ height: 40vh!important; }
.he-50{ height: 50vh!important; }
.he-60{ height: 60vh!important; }
.he-70{ height: 70vh!important; }
.he-80{ height: 80vh!important; }
.he-90{ height: 90vh!important; }
.he-100{ height: 100vh!important; }

.we-10{ width: 10vw!important; }
.we-20{ width: 20vw!important; }
.we-30{ width: 30vw!important; }
.we-40{ width: 40vw!important; }
.we-50{ width: 50vw!important; }
.we-60{ width: 60vw!important; }
.we-70{ width: 70vw!important; }
.we-80{ width: 80vw!important; }
.we-90{ width: 90vw!important; }
.we-100{ width: 100vw!important; }
